<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nafas.buyer">

    <application
        android:allowBackup="true"
        android:label="Nafas Buyer"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light">
        <!-- فعلاً بدون Activity؛ بعداً صفحات سوما رو اضافه می‌کنیم -->
    </application>

</manifest>
